---
layout: default
title: Home
---

<header class="clean" style="height: 350px; background-image: url({{ site.cover }}); background-attachment: scroll;">
	{% include top.html %}
	<a href="{{ site.url }}{{ site.baseurl }}">
		<div id="home-title" class="site-icon-home" style="background-image: url({{ site.icon }});"></div>
	</a>
</header>
<div id="middle">
<div id="post-list">
	{% for post in paginator.posts %}
		<div>
			<span class="post-date">
				{% assign m = post.date | date: "%-m" %}
				{% case m %}
					{% when '1' %}Enero
					{% when '2' %}Febrero
					{% when '3' %}Marzo
					{% when '4' %}Abril
					{% when '5' %}Mayo
					{% when '6' %}Junio
					{% when '7' %}Julio
					{% when '8' %}Agosto
					{% when '9' %}Septiembre
					{% when '10' %}Octubre
					{% when '11' %}Noviembre
					{% when '12' %}Diciembre
				{% endcase %}
				{{ post.date | date: "%-d" }}, 
				{{ post.date | date: "%Y" }}
			</span>
			<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			<p class="post-description">{% if post.quote %}{{ post.quote }}{% else %}{{ post.content | strip_html | truncatewords: 50 }}{% endif %}</p>
		</div>
		<br>
	{% endfor %}
</div>
<nav class="pagination" role="navigation">
	{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
	{% endif %}
	<span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
	{% if paginator.previous_page %}
		{% if paginator.page == 2 %}
			<a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
		{% else %}
			<a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
		{% endif %}
	{% endif %}
</nav>
</div>
<footer class="clean" style="background-image: url({{ site.cover }}); text-align:center; background-position: bottom; bottom: 0; z-index: 4; position: absolute; height: 50px; background-attachment: scroll;">
	<p class="copyright">&copy; {{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a></p>
</footer>
